<footer class="footer">
    <small>
      <i> Copyright © 2023, Web Application Development </i>
      <br>
      <i> Assignment1 - Portfolio</i>
      <br>
      <i>Jinsung Park - 301241866</i>
      <br>
      <a href="mailto:Jpark276@my.centennialcollege.ca">jpark276@my.centennialcollege.ca</a>
    </small>
  </footer>