<main>
    <h1>COMP229 - About</h1>
    <h3 class="#">About me </h3>
    <p>
        An analytical and results-oriented student of software engineering technology,
        specializing in Game Programming. Demonstrated technical acumen,
        with proven skill in troubleshooting, problem-solving
        and applying critical-thinking as a professional Engineer and Researcher.
        Passionate about using technology for business solutions with proficiency
        in web development and object-oriented programming.
    </p>

</main>

<footer>
    <small>
        <i> Copyright © 2023, Web Application Development </i>
        <br>
        <i> Assignment1 - Portfolio</i>
        <br>
        <i>Jinsung Park - 301241866</i>
        <br>
        <a href="mailto:Jpark276@my.centennialcollege.ca">jpark276@my.centennialcollege.ca</a>
    </small>
</footer>