<div class="author">
    <h1 class="author__heading">COMP229 - HOME</h1>
    <h1> Hi, I am Jim Park </h1>
    <p class="author__body"> Game programmer </p>
</div>

<img src="/img/sea.jpg" alt="my Photo" class="hero-image" witdh="900" height="500">

<main>
    <h3 class="#">Software developer & Game Programmer </h3>
    <h4> HIGHLIGHTS OF QUALIFICATIONS </h4>
    <p>
    <ul>
        <li>
            An aspiring Software Developer
        </li>
        <br>
        <li>
            currently pursuing an Advanced Diploma in Game Programming
        </li>
        <br>
        <li>
            Holds graduate education in Electrical Engineering with experience in research design and innovation
        </li>
        <br>
        <li>
            Proficient at discovering and analyzing a variety of problems, using acute logic and reasoning skills
        </li>
        <br>
    </ul>
    </p>

</main>

<section class="articles">
    <h2 class="articles__heading"> Lastest Posts</h2>

    <ul class="articles-ul">
        <li>
            <a href="#"></a>
            <span>
                Post title
            </span>
            <span class="article-list__date"> Date </span>
        </li>
    </ul>

    <a href="#" class="pagination"> &lt; view Older Posts</a>

</section>